@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: var(--main-color);
  --background-start-rgb: var(--purple);
  --background-end-rgb: var(--mint);

  /* New Custom Colors */
  --purple: 163, 137, 187; /* A389BB */
  --gray: 129, 125, 129;   /* 817D81 */
  --light-purple: 195, 182, 209; /* C3B6D1 */
  --mint: 128, 217, 181; /* 80D9B5 */
  --light-grey: 217, 217, 217; /* D9D9D9 */
  --main-color: 51, 51, 51; /* 333333 */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    /* You can redefine colors for dark mode if needed */
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
